* {
    --clr-main: #3479c3;
    --clr-bg-nav: #454545;
}

body {
    color: #d1d1d1;
    background-color: #1E1E1E;
    font-family: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90vw;
    height: 50vh;
    background-image: url(blubber.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.03;
    z-index: -1;
}

button {
    color: #fff;
    background-color: var(--clr-main);
    text-transform: uppercase;
    border-radius: .325rem;
    border: 0;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #275d97;
}

input {
    color: #d1d1d1;
    background-color: transparent;
    padding: .5em .725em;
    border: 1px solid #d1d1d1;
    border-radius: .325rem;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col {
    flex: 1 0 0%;
}

.col-a {
    flex: 0 0 auto;
    width: auto;
}

#app {
    max-width: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 1rem .5rem 1rem;
}

.hidden {
    display: none;
}

.errorMsg {
    color: rgb(212, 52, 52);
    margin-top: .5rem;
}

#playerlist {
    padding-left: 1rem;
}

#numpad {
    width: auto;
}

.numpad_row {
    display: flex;
    flex-wrap: wrap;
}

.numpad_row button {
    width: 4rem;
    height: 3rem;
    margin: .25rem .25rem;
    padding: 0;
    line-height: normal;
}

button.space {
    margin-right: 4.75rem;
}

#btn-addPlayer,
#btn-settings,
#btn-newGame,
#abort {
    width: 100%;
}

.btn-abort {
    background-color: #d19c2c;
}

.btn-abort:hover {
    background-color: #775a1a;
}

.btn-remove {
    width: 45% !important;
    background-color: #a51e1e;
}

.btn-remove:hover {
    background-color: #6e1414;
}

.btn-enter {
    width: 50% !important;
    background-color: #34a51e;
}

.btn-enter:hover {
    background-color: #216913;
}

.skeleton {
    display: inline-block;
    min-height: 1em;
    vertical-align: middle;
    background-color: currentcolor;
    opacity: .5;
    -webkit-mask-image: linear-gradient(130deg,#000 55%,rgba(0,0,0,0.8) 75%,#000 95%);
    mask-image: linear-gradient(130deg,#000 55%,rgba(0,0,0,0.8) 75%,#000 95%);
    -webkit-mask-size: 200% 100%;
    mask-size: 200% 100%;
    animation: wave 2s linear infinite;
}

@keyframes wave {
    100% {
        -webkit-mask-position: -200% 0%;
        mask-position: -200% 0%;
    }
}

.playercard-skeleton {
    width: 100%;
    height: 6rem;
    border-radius: .425rem;
}

.playercard {
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: .375rem;
    background-color: #2b2b2b;
}

.playercard-total-points {
    font-size: 1.75rem;
    border-right: 1px solid rgba(255, 255, 255, .15);
    padding: .5rem .75rem;
}

.playercard-throw-count {
    border-top: 1px solid rgba(255, 255, 255, .15);
    border-right: 1px solid rgba(255, 255, 255, .15);
    padding: .275rem 0;
}

.playercard-throw-points {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.g-1, .gx-1 {
    --bs-gutter-x: 0.25rem;
}
.g-1, .gy-1 {
    --bs-gutter-y: 0.25rem;
}

.x {
    color: #a32828;
    font-weight: 900;
}

.active {
    color: #fff !important;
    background-color: rgba(108, 117, 125, 1);
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-bg-nav);
    padding: 0.8em 0;
}

nav .col {
    position: relative;
}

nav a {
    color: #ddd;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav .active {
    top: -33px;
    position: absolute;
    width: 70%;
    height: 23px;
    background-color: var(--clr-bg-nav);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #e6e6e6;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    text-align: center;
}

nav .active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 10px;
    left: -30px;
    bottom: 0;
    border-bottom-right-radius: 8px;
    box-shadow: 11px 0 0 0 var(--clr-bg-nav);
}

nav .active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 10px;
    right: -30px;
    bottom: 0;
    border-bottom-left-radius: 8px;
    box-shadow: -11px 0 0 0 var(--clr-bg-nav);
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label span {
    transform: scale(1.25);
}

input[type=radio]:checked + label .red {
    border: 2px solid #711313;
}

input[type=radio]:checked + label .orange {
    border: 2px solid #873a08;
}

input[type=radio]:checked + label .yellow {
    border: 2px solid #816102;
}

input[type=radio]:checked + label .green {
    border: 2px solid #0e4e1d;
}

input[type=radio]:checked + label .blue {
    border: 2px solid #103f62;
}

input[type=radio]:checked + label .pink {
    border: 2px solid #851554;
}

label {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

label ~ label {
    margin-left: 10px;
}

label:hover span {
    transform: scale(1.25);
}

label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

label span.red,
.r {
    background: #db2828;
}

label span.orange,
.o {
    background: #f2711c;
}

label span.yellow,
.y {
    background: #fbbd08;
}

label span.green,
.g {
    background: #21ba45;
}

label span.blue,
.b {
    background: #2185d0;
}

label span.pink,
.p {
    background: #e03997;
}

.colorBox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
